body{
    border: 60px solid white;
}
html{
    font-family: 'Lato', 'Dosi', 'Open Sans', 'San-serif';
}
.section1 {
    padding: 50px;
    background-color: black;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.text-section1 {
    padding-top: 14%;
    color: white;
    font-size: 12px;
}
.text-pad {
    padding-bottom: 10px;
    padding-top: 10px;
}

h2{
    font-size: 15px;
}

.mouse-icon {
    padding-top: 8%;
}
#mouse_click{
    animation-direction: alternate;
    position: relative;
    animation: bounce 5s infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes mymove {
from {left: 0px; right:0px;}
to {left: 200px;}
}
img#mouse_click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.section2 {
    padding: 30px;
    background-color: white;
    color: black;
}
.text-section2 {
    font-size: 12px;
}